[submodule "external/inspect_petri"]
	path = external/inspect_petri
	url = https://github.com/BrittBesch/inspect_petri.git
[submodule "external/OpenCharacterTraining"]
	path = external/OpenCharacterTraining
	url = https://github.com/BrittBesch/OpenCharacterTraining.git
